<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		
        <add name="SistemaBase.Properties.Settings.ClubSirioConnectionString"
            connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=ClubSirio;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
            
      <!-- SERVIDOR -->
      <!--
      <add name="SistemaBase.Properties.Settings.ClubSirioConnectionString"
          connectionString="Data Source=DESKTOP-N68P7B2\SQLEXPRESS;Initial Catalog=ClubSirio;Integrated Security=True;TrustServerCertificate=True"
          providerName="System.Data.SqlClient" />
			-->
         <!--
		<add name="SistemaBase.Properties.Settings.ClubSirioConnectionString"
		  connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=ClubSirio;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		  -->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--CASA Club Sirio-->
<!--
  <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
    connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=ClubSirio;Integrated Security=True"
    providerName="System.Data.SqlClient" />
-->
</configuration>


     